#color{background-image: linear-gradient(346deg, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 22%,rgba(140, 140, 140,0.04) 22%, rgba(140, 140, 140,0.04) 69%,rgba(225, 225, 225,0.04) 69%, rgba(225, 225, 225,0.04) 100%),linear-gradient(31deg, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 42%,rgba(140, 140, 140,0.04) 42%, rgba(140, 140, 140,0.04) 85%,rgba(225, 225, 225,0.04) 85%, rgba(225, 225, 225,0.04) 100%),linear-gradient(55deg, rgba(55, 55, 55,0.04) 0%, rgba(55, 55, 55,0.04) 13%,rgba(140, 140, 140,0.04) 13%, rgba(140, 140, 140,0.04) 72%,rgba(225, 225, 225,0.04) 72%, rgba(225, 225, 225,0.04) 100%),linear-gradient(90deg, rgb(232,31,62),rgb(232,31,62));}

.mine{background-color: #E0DEE4;}

 /* #color{background-image: linear-gradient(135deg, rgba(100,100,100, 0.5) 0%, rgba(100,100,100, 0.5) 10%,transparent 10%, transparent 19%,rgba(44,36,44, 0.5) 19%, rgba(44,36,44, 0.5) 27%,rgba(100,100,100, 0.5) 27%, rgba(100,100,100, 0.5) 53%,transparent 53%, transparent 56%,rgba(20,17,17, 0.5) 56%, rgba(20,17,17, 0.5) 61%,rgba(34,31,31, 0.5) 61%, rgba(34,31,31, 0.5) 100%),linear-gradient(45deg, rgb(63,62,62) 0%, rgb(63,62,62) 8%,transparent 8%, transparent 9%,transparent 9%, transparent 10%,rgb(63,62,62) 10%, rgb(63,62,62) 14%,rgb(57,55,57) 14%, rgb(57,55,57) 50%,rgb(32,18,29) 50%, rgb(32,18,29) 97%,rgb(77,66,66) 97%, rgb(77,66,66) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));} */

 .list-color{background-color: #E81F3E;}

.text-color{ color: #ecebeb !important;}

.text-color:hover{color: #ecebeb !important;}

.width{width: 20px;}

.link-none{text-decoration: none;}

.footer-content-color{color: #E81F3E;}

.news{width: 50%;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: space-around;
            }

.on-hover:hover{border-bottom: 3px solid red;
    color: red; }

.bottom-border{border-bottom: 2px solid red;}

#scroller{width: 100%;
                height: 32vh;
                border: 0px solid black;
                display: flex;
                overflow-x: auto;}

#scroller::-webkit-scrollbar{height: 0px;}

/* .nav-scroll{overflow-x: auto;} */

.main{min-width: 12rem;
            height: 100%;
            border: 0px solid green;
            }

.main-1{width: 100%;
                height: 50%;
                border: 0px solid black;
                overflow: hidden;
               }

.main-2{width: 100%;
                height: 50%;
                border: 0px solid yellow;}

.main-2 p{font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                }

.top-head{overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;}

.top-stories{overflow: hidden;
                    text-overflow: ellipsis;
                    display:-webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;}

 .footer-content-color{color: #E81F3E;}

.text-decoration{text-decoration: none;}

.text-dec:hover{background-color: silver;
                                        color: white;}

.phone-nav{width: 100%;
                    height: 5vh;
                    display: flex;
                    overflow-x: auto;
                    }

.phone-nav::-webkit-scrollbar{
                        height: 0px;}
                    

.min-width{min-width: fit-content;
                    min-height: fit-content;
                    }

.my-background{ background:  linear-gradient(-192deg,#E81F3E,#be2022 48.5%,#b70709 49%,#a00000);}

.my-background2{ background-image: linear-gradient(0deg, rgba(3, 121, 241,0.5) 0%, rgba(3, 121, 241,0.5) 9%,transparent 9%, transparent 16%,rgba(11, 75, 199,0.5) 16%, rgba(11, 75, 199,0.5) 49%,rgba(9, 86, 209,0.5) 49%, rgba(9, 86, 209,0.5) 100%),linear-gradient(135deg, rgb(3, 121, 241) 0%, rgb(3, 121, 241) 31%,rgb(13, 63, 188) 31%, rgb(13, 63, 188) 37%,transparent 37%, transparent 56%,rgb(9,86,209) 56%, rgb(9,86,209) 100%),linear-gradient(90deg, rgb(232,31,62),rgb(232,31,62));}

.book{color: rgb(129, 189, 39);}

.footer-span{font-size: 11px;}

.footer-font-size{font-size: 13px;}

a{
    text-decoration: none;
}

.carousel-height{
    height: 50vh !important;
}
.carousel-height img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
                    
/* .my-nav{--bs-nav-link-padding-x: 1rem;
                --bs-nav-link-padding-y: 0.5rem;
                --bs-nav-link-font-weight: ;
                --bs-nav-link-color: var(--bs-link-color);
                --bs-nav-link-hover-color: var(--bs-link-hover-color);
                --bs-nav-link-disabled-color: #6c757d;
               width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none}   
         */